In [1]:
import numpy as np
import pandas as pd

# 1. Handle duplicate values in dataset

In [27]:
X = np.array([1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 3])

#### np.unique( ) can eliminate same element within a array and leave only on of them

In [28]:
np.unique(X)

array([1, 2, 3, 4])

In [24]:
df = pd.DataFrame(
    {
        "col1": [1,2,1],
        "col2": [3,3,3],
        "col3": [3,3,3]
    }
)

In [26]:
df

   col1  col2  col3
0     1     3     3
1     2     3     3
2     1     3     3

#### drop_duplicates() can eliminate same rows and leave only the first one of them

In [22]:
df.drop_duplicates()

   col1  col2  col3
0     1     3     3
1     2     3     3

## 2. You are given two tables - friend_request and request_accepted. Friend_request contains requester_id, time and sent_to_id and request_accepted table contains time, acceptor_id and requestor_id. How will you determine the overall acceptance rate of requests?

In [ ]:
# SQL
SELECT COUNT(*) AS number_accepted INTO accept_temp
FROM friend_request fr
WHERE (fr.requester_id, fr.send_to_id) IN (SELECT ra.requestor_id, ra.acceptor_id
                                           FROM request_accepted ra);
SELECT COUNT(*) AS number_send INTO send_temp;
SELECT number_accepted / number_send AS accept_rate FROM accept_temp, send_temp;

In [ ]:
#python
accept1 = merge(friend_request, request_accept)
accept2 = accept[accept1.send_to_id == accept1.acceptor_id]
accept_rate = accept2.shape[0] / friend_request.shape[0]